@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&family=Shippori+Mincho+B1&display=swap');

body {
  margin: 0 auto;
}
.starwars-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: black;
}

.header {
  margin: 10px 5px;
  display:flex;
  flex-direction: column;
  color: white;
  font-size: 18px;
  font-family: 'Ravi Prakash', cursive;
  font-weight: bold;
}

.filters-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-container input {
  padding: 6px;
  margin: 10px;
  border-radius: 5px;
}

.filters-container select {
  padding: 6px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
}

.filters-container button {
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
  margin: 10px;
  padding: 6px 15px;
  max-height: 50px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-weight: bold;            
  box-shadow: 0 0 10px #eee;
  display: block;
}

.filters-container select {
  background-color: white;
  padding: 6px;
  margin: 10px;
  border-radius: 5px;
}

.planets-table {
  color: white;
  font-family: 'Shippori Mincho B1', serif;
  margin-top: 20px;
  width: 100%;
}

.planets-table th {
  border: 1px solid white;
  background-color: rgb(26, 18, 66);
  padding: 6px;
  color: white;
}

.planets-table td {
  border: 1px solid white;
  padding: 6px;
}

.planets-table tr:nth-child( even ) {
  background: rgb(190, 198, 236);
  color: black;
}

.planets-table tr:nth-child( odd ) {
  background: rgb(238, 238, 238);
  color: black;
}